@media (max-width: 980px) {
    .page-content-container {
        width: $midPage;
    }

    .btm-links {
        .redesign-btn-container {
            
            .redesign-btn {
                width: 74%;
            }
        }
    }
}

@media (max-width: 768px) {
    .page-content-container {
        width: 100%;
    }

    .btm-links {
        .redesign-btn-container {
            .redesign-btn {
                width: 440px;
            }
        }
    }

    .fab2-img-container {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    .btm-links {
        .redesign-btn-container {
            .redesign-btn {
                width: 90%;
            }
        }
    }
}

@media (max-width: 416px) {

}


@media (min-width: 760px) {

}

@media (min-width: 870px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1800px) {

}

// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\  BROWSER COMPATIBILITY \\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

/* EDGE */
@supports (-ms-ime-align:auto) {

}
  
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}