.page-content-container {
    h2 {
        color: $blue !important;

        &:first-child {
            margin-bottom: 1.1rem;
        }
    }

    h3 {
        color: $green !important;
    }
}

.btm-links {
    .redesign-btn-container {
        flex-direction: column;



        .redesign-btn {
            width: 55%;

            &:first-child {
                margin-bottom: 1.5rem;    
            }
        }
    }
}

.chrom-note {
    border: 2px solid $green;
    margin-bottom: 1.3rem;

    &-inner {
        padding: 0 15px;
        margin-top: 16px;

        p {
            margin-bottom: 0;
        }
    }
}

.fab2-img-container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-bottom: 3rem;

    img {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    p {
        margin: 6px auto;
        width: 95%;
        padding-bottom: 0;
    }

    span {
        font-size: .95rem;
    }


    
}

.limited-inv {
    font-weight: 600;
    margin-top: 2rem;
}

.anim- {
    &container {
    }

    &img-container {
        height: 400px;
        // display: flex;

        img {
            height: 400px;
            position: absolute;
        }
    }
}


.anim-container {
    &:hover {
        #initial,
        #fabx2 {
            display: none;
        }

        #fc {
            filter: grayscale(1);
            transform: rotate(30deg);
            margin-left: -16rem;
            transition: filter 1s, transform 1s, margin-left 1s;
        }

        #fab2 {
            margin-left: 20px;
            margin-top: 1rem;
            transform: rotate(30deg);
            transition: margin-left 1s, margin-top 1s ease-in, transform 1s;
        }
    }
}